# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=<DB connection string goes here>

# Next Auth
NEXTAUTH_SECRET=<some length secret goes here>
NEXTAUTH_URL=http://localhost:3000
